/* ====================== coman css ================================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   

}

.contenar{
    margin: 0px 130px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* ====================== nav bar css ================================= */
header{
    background-color: rgb(16, 62, 62);
}
header .contenar .contenar-p{
    padding: 30px 0px;
}
header .contenar .contenar-flex{
    display: flex;
    
    align-items: center;
}
header .contenar .contenar-flex .logo{
    flex: 1;
}
header .contenar .contenar-flex .logo h1{
    color: white;
    font-size: 40px;
}
header .contenar .contenar-flex .nav{
    flex: 1;
}
header .contenar-flex { 
    font-size: 20px;
    font-weight: 700;
}
header .contenar .contenar-flex .nav a{
  color: white;
  text-transform: capitalize;
  transition: 1s all ease;
}
header .contenar .contenar-flex .nav a:hover{
    color: orange;
}
header .contenar .contenar-flex .nav .home{
    color: orangered;
}
header .contenar .contenar-flex .nav ul{
    display: flex;
    gap: 30px;
    text-align: center;
}
header .contenar .contenar-flex .nav input{
    height: 35px;
    width: 2px;
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
    border: none;
    outline: none;    
    transition: 2s all ease;
    position:relative
}
header .contenar .contenar-flex .nav input:hover{
    width: 200px;
}
header .contenar .contenar-flex .nav  span{
    height: 30px ;
    width: 30px;
    background-color: transparent;
    padding-top: 5px;
    border-radius: 5px;
    color: rgb(18, 17, 17);
   
}
header .contenar .contenar-flex .nav .btn{
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    
     
}